/* Copyright 2008, 2009, 2010, 2011 Tyler Hyndman
 * 
 * This file is part of SecureCam.
 *
 * SecureCam is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * SecureCam is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with SecureCam.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
   background: #FFFFFF;
}

h1,h2,h3 {
   margin: 0;
   padding: 0;
   color: #000000;
}

hr {
   margin: 0 0 25px 0;
}

p#subtitle {
   margin: 0 0 10px 0;
}

p.error {
   color: #FF0000;
}

table#top {
   margin: 30px 0 30px 0;
}

table#top tr {
   vertical-align: bottom;
}

/* Top Bar */
#top-bar a {
   font-size: 24px;
   background: #FF0000;
   padding: 10px;
   text-decoration: none;
   color: #FFFFFF;
}


#top-bar li.current-page a, #top-bar a:hover {
   color: #FFFFFF;
   background: #000000;
   text-decoration: none;
}

#top-bar {
   text-align: center;
   margin: 0 auto 0 auto;
   height: 50px;
}

#top-bar ul {
   margin: 0 auto;
   padding: 0 auto;
   list-style: none;
}

#top-bar li {
   margin: 0 auto 0 auto;
   padding: 0 30px 0 0;
   display: inline;
}

p {
   margin: 0 0 10px 0;
   color: #000000;
}

a:link, a:visited {
   outline: none;
   text-decoration: underline;
   font-weight: normal;
   color: #FF0000;
}

a:hover {
   text-decoration: none;
   font-weight: normal;
   color: #FF0000;
}

img {
   border: none;
}

table {
   border-width: 0px;
   margin: 0;
   padding: 0;
}

table#main {
   width: 100%;
   margin: 0 0 30px 0;
}

#page_bg {
   margin: 0 auto;
   width: 960px;
   background: #FFFFFF;
}

td.main-page {
   vertical-align: top;
}

/* Home */
img.home-preview {
   width: 320px;
   height: 240px;
}

/* Search */
img.preview, img.manage-preview {
   width: 160px;
   height: 120px;
}

table.display {
   margin: 20px auto;
   width: 100%;
}

table.display td {
   vertical-align: top;
   text-align: left;
   padding: 0 10px 35px 0;
}

table.search-time {
   margin: 0 auto 30px auto;
   padding: 0;
}

table.search-time th, p.search-heading {
   font-weight: bold;
}

table#search {
   margin: 10px 0 0 0;
}

table#search td{
   vertical-align: top;
}

p.navigation {
   text-align: center;
}

/* Manage */
.manage-input {
   margin: 0 0 15px 0;
}

.manage-input p{
   margin: 0;
}

table.manage {
   margin: 0 0 25px 0;
}

table.manage td {
   vertical-align: top;
   text-align: left;
}

/* Stats */
table#stats {
   width: 100%;
}

table#stats td {
   vertical-align: top;
   text-align: left;
}

table#stats th {
   vertical-align: top;
   text-align: left;
}

/* Live View */
iframe.view {
   width: 440px;
   height: 330px;
   border: 0;
   margin: 0 auto 20px auto;
   overflow: hidden;
}

/* Calendar */
#cal {
   background-color: #666699;
   color: #ffffff;
}

.cal_title {
   text-align: center;
   background-color: #9999cc;
   color: #000000;
   font-size: 18;
}

.cal_top {
   text-align: center;
   font-weight: bold;
}

.cal_empty {
   background-color: #9999cc;
   color: #000000;
}

.cal_day {
   text-align: center;
   background-color: #9999cc;
   color: #000000;
}

.cal_selected_day {
   text-align: center;
}
