body {
   background: #C0C0C0;
}

h1,h2,h3 {
   text-align: center;
   margin: 0 0 0 0;
}

p {
   margin: 0 0 10px 0;
}

img {
   border: none;
}

div#heading {
   background: #909090;
   height: 100px;
}

table {
   border-width: 0px;
   margin: 0;
   padding: 0;
}

table#main {
   width: 100%;
}

table.display {
   margin: 20px 0 0 40px;
}

table.display td {
   vertical-align: top;
   text-align: left;
   padding: 0 10px 35px 0;
}

table.search {
   margin: 0 0 20px 0;
}

table.stats {
   border-color: black;
   border-width: 1px;
   border-style: solid;
}

p#subtitle {
   text-align: center;
   margin: 0 0 0 0;
}

#page_bg {
   margin: 0 auto;
   width: 960px;
   background: #ffffff;
}

#top-bar {
   text-align: center;
   margin: 0 auto 0 auto;
   width: 940px;
   height: 50px;
}

#top-bar ul {
   margin: 0 auto;
   padding: 0 auto;
   list-style: none;
}

#top-bar li {
   margin: 0 auto;
   padding: 0 15px 0 0;
   background: none;
   display: inline;
}

td.sidebar {
   vertical-align: top;
   width: 15%;
   background: #606060;
}

td.main-page {
   vertical-align: top;
   text-align: center;
   width: 85%;
}

img.home-preview {
   width: 320px;
   height: 240px;
}

img.preview {
   width: 160px;
   height: 120px;
}

#manage {
   margin: 0 0 15px 0;
}

#manage p{
   margin: 0;
}

iframe {
   width: 320px;
   height: 240px;
   border: 0;
}

/* Calendar */
#cal {
   background-color: #666699;
   color: #ffffff;
}

.cal_title {
   text-align: center;
   background-color: #9999cc;
   color: #000000;
   font-size: 18;
}

.cal_top {
   text-align: center;
   font-weight: bold;
}

.cal_empty {
   background-color: #9999cc;
   color: #000000;
}

.cal_day {
   text-align: center;
   background-color: #9999cc;
   color: #000000;
}

.cal_selected_day {
   text-align: center;
}
